@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Manrope', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f111a;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #282b39;
  border-radius: 10px;
}